table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
.displayNone {display: none;}
.allColor {color: white; background-color: black;}
.color
{
    background-color: blue;
    padding: 10px;
    color: white;
}
.color2
{
    background-color: rgb(173, 15, 76);
    padding: 10px;
    color: white;
}
.box
{
    width: 200px;
    height: 200px;
    margin-top: 5px;
    cursor: pointer;
    background-color: blue;
}